<h1 class="text-center"><%= current_buyer.first_name %>'s Buyer Dashboard</h1>
<h2 class="text-center"><%= render 'partials/stock_ticker'%></h2>

<!-- 1st table transactions -->
  <div class="container">
    <div class="card">
      <div class="card-header">Daily Transactions</div>
      <div class="card-body">
        <h5 class="card-title">Check Today's transactions</h5>
        <p class="card-text">
          Let's start earning you more money by going to your transactions.
          In the meantime, here's a quick view of your current transactions.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Buyer</th>
              <th>Symbol</th>
              <th>Company Name</th>
              <th>Current Price</th>
              <th>Total Stock purchased</th>
              <th>Total Amount</th>
              <th>Broker</th>
            </tr>
          </thead>
          <tbody>
            <% current_buyer.purchase_transactions.each do |transaction| %>
              <tr class="table-active">
                <td><%= transaction.user.first_name + " " + transaction.user.last_name %></td>
                <td><%= transaction.stock_code %></td>
                <td><%= transaction.company_name %></td>
                <td><%= transaction.price %></td>
                <td><%= transaction.volume %></td>
                <td><%= transaction.volume * transaction.price %></td>
                <td><%= transaction.broker.first_name + " " + transaction.broker.last_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%= link_to "View Detailed Transactions", transaction_home_index_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<!-- end 1st table -->

<!-- 2nd table buyer list -->
<div class="container" style="margin-top: 10px;">
  <div class="card-group">
    <div class="card col-md-12" style="padding: 10px;">
      <div class="card-header">Trending</div>
        <div class="card-body">
          <h5 class="card-title">Watched Stocks</h5>
          <p class="card-text">
            Daily Performance of your watched Stock and (if any) Buyers that have purchased the stock.
          </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Stock</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Market Cap</th>
                <th scope="col">Action</th>
                <th scope="col">Contact Broker</th>
              </tr>
            </thead>

            <tbody>
              <% session[:watched].each do |stock| %>
                <tr class="table-active">
                  <td><%= stock[:name] %></td>
                  <td><%= stock[:age] %></td>
                  <td><%= stock[:job] %></td>
                  <td><%= stock[:country] %></td>
                  <td><%= stock[:course] %></td>
                  <td><%= stock[:course] %></td>
                  <td><%= stock[:course] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <%= link_to "View Details", stocks_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<!-- end 2nd table -->

<!-- 3rd table buyer list -->
  <div class="container" style="margin-top: 10px;">
    <div class="card-group">
      <div class="card col-md-12" style="padding: 10px;">
        <div class="card-header">Portfolio</div>
        <div class="card-body">
          <h5 class="card-title">Portfolio Quick view</h5>
          <p class="card-text">
            Portfolio Quick View is your top earning stocks.
          </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">broker</th>
              </tr>
            </thead>
            <tbody>
              <% current_buyer.buyer_stocks.each do |stock| %>
                <tr class="table-active">
                  <td><%= stock.stockSymbol %></td>
                  <td><%= stock.price %></td>
                  <td><%= stock.quantity %></td>
                  <td><%= stock.broker_email %></td>
                </tr>
              <% end %>
          </table>
          <%= link_to "View Details", portfolio_home_index_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<!-- end 3rd table -->