<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "stockXchange", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if broker_signed_in? %>
          <li class="nav-item">
            <%= link_to "Stocks", stocks_path, class: "nav-link" %>
          </li>  
          <li class="nav-item">
            <%= link_to "Transactions", transaction_home_index_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_home_index_path, class: "nav-link" %>
          </li>   
          <li class="nav-item">
            <%= link_to "Sign out", destroy_broker_session_path, protocol: 'https', method: :delete, class: "nav-link" %>
          </li>
        <% elsif buyer_signed_in? %>
          <li class="nav-item">
            <%= link_to "Stocks", stocks_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Transactions", transaction_home_index_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Portfolio", portfolio_home_index_path, class: "nav-link" %>
          </li>   
          <li class="nav-item">
            <%= link_to "Sign out", destroy_buyer_session_path, protocol: 'https', method: :delete, class: "nav-link" %>
          </li>
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", root_path, class: "nav-link" %>
          </li>   
          <li class="nav-item">
            <%= link_to "Transactions", transaction_home_index_path, class: "nav-link" %>
          </li> 
          <li class="nav-item">
            <%= link_to "Sign out", destroy_admin_session_path , protocol: 'https', method: :delete, class: "nav-link" %>
          </li>                   
        <% else %>
        <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Log In
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">          
          <li><%= link_to " Broker Log In", new_broker_session_path, class: "dropdown-item" %></li>          
          <li><%= link_to " Buyer Log In", buyer_session_path, class: "dropdown-item" %></li>
        </ul>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

