<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="tablegit ">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Symbol</th>
								<th>Company Name</th>
								<th>Latest Price</th>
								<th>Daily Change</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>								
								<% @client.stock_market_list(:mostactive).each do |stock| %>
									<tr>
										<td><%= stock.symbol %></td>
										<td><%= stock.company_name %></td>
										<td><%= number_to_currency(stock.latest_price) %></td>
										<td><%= stock.change_percent_s %></td>						
										<td><%= link_to "show stock", stock_path(stock.symbol), class: "btn btn-danger" %></td>		
									</tr>
								<% end %>							
						  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
