
	<div class="container">
		<div class="row">
		  <div class="card-header">Most Active</div>
			<div class="col-md-12">
				<div class="table">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Symbol</th>
								<th>Company Name</th>
								<th>Latest Price</th>
								<th>Daily Change</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>								
								<% @client.stock_market_list(:mostactive).each do |stock| %>
									<tr>
										<td><%= stock.symbol %></td>
										<td><%= stock.company_name %></td>
										<td><%= number_to_currency(stock.latest_price) %></td>
										<td><%= stock.avg_total_volume %></td>					
										<td>
										<%= link_to "show stock", stock_path(stock.symbol), class: "btn btn-success" %> 
										<% if current_buyer.watched_stocks.find_by(symbol: stock.symbol).nil? %>
											| <%= link_to "Watch", watch_stocks_path(:symbol => stock.symbol), class: "btn btn-warning" %>
										<% else %>
											| <%= link_to "Unwatch", unwatch_stocks_path(:symbol => stock.symbol), class: "btn btn-danger" %>
										<% end %>
										</td>
									</tr>
								<% end %>
						  </tbody>
					</table>
				</div>
			</div>
			<div class="card-header">Gainers</div>
			<div class="col-md-12">
				<div class="table">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Symbol</th>
								<th>Company Name</th>
								<th>Latest Price</th>
								<th>Daily Change</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>								
								<% @client.stock_market_list(:gainers).each do |stock| %>
									<tr>
										<td><%= stock.symbol %></td>
										<td><%= stock.company_name %></td>
										<td><%= number_to_currency(stock.latest_price) %></td>
										<td><%= stock.avg_total_volume %></td>					
										<td>
										<%= link_to "show stock", stock_path(stock.symbol), class: "btn btn-success" %> 
										<% if current_buyer.watched_stocks.find_by(symbol: stock.symbol).nil? %>
											| <%= link_to "Watch", watch_stocks_path(:symbol => stock.symbol), class: "btn btn-warning" %>
										<% else %>
											| <%= link_to "Unwatch", unwatch_stocks_path(:symbol => stock.symbol), class: "btn btn-danger" %>
										<% end %>
										</td>
									</tr>
								<% end %>
						  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

