
		<div class="container border border-0">
			<div class="row">
				<div class="col-md-12">
					<%# if current_broker%>
						<% if PurchaseTransaction.where(broker_id: current_broker.id).count > 0 %>
							<div class="table-wrap">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Buyer</th>
											<th>Symbol</th>
											<th>Company Name</th>
											<th>Current Price</th>
											<th>Total Stock purchased</th>
											<th>Total Amount</th>
											<th>Broker</th>
										</tr>
									</thead>
									<tbody>
										<% PurchaseTransaction.where(broker_id: current_broker.id).each do |transaction| %>
											<tr>
												<td><%= transaction.user.first_name + " " + transaction.user.last_name %></td>
												<td><%= transaction.stock_code %></td>
												<td><%= transaction.company_name %></td>
												<td><%= transaction.price %></td>
												<td><%= transaction.volume %></td>
												<td><%= transaction.volume * transaction.price %></td>
												<td><%= transaction.broker.first_name + " " + transaction.broker.last_name %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						<% else %>
							<h1 class="text-center">No transactions yet</h1>
						<% end %>
					<%# end %>
				</div>
			</div>
		</div>

	