<div class="container border border-0" style="margin-top: 10px;">
  <h1 class="text-center"><%= @stock.company_name %></h1>
  <hr class="border border-3 colorgraph" style="margin-top: 10px;">


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!-- for buyer -->

      <% if current_buyer %>
        <h1>Name: <%= @stock.company_name %></h1><br/>
        <h2>Symbol: <%= @stock.symbol %></h2><br/>
        <h2>Latest price: <%= number_to_currency(@stock.latest_price) %></h2><br/>
        <h2>Change: <%= number_to_currency(@stock.change) %></h2><br/>
        <h2>Change Percent: <%= @stock.change_percent_s %></h2><br/>
        <h2>Average Total Volume: <%= @stock.avg_total_volume %></h2><br/>
        <h2>Price As Of: <%= @stock.latest_time %></h2><br/>
      <% end %>
    </div>

    <div class="col-md-4">
      <% if current_buyer %>
        <h1 class="text-center">Top brokers</h1>
        <hr class="border border-3 colorgraph" style="margin-top: 10px;">
          <% @brokers.each do |broker| %>
            <% if broker.stocks.where(symbol: @stock.symbol.to_s).any? %>
              <h2>Broker ID: <%= broker.id %></h2>
              <p>Has In Stocks: <%= broker.stocks.where(symbol: @stock.symbol.to_s).any? %></p>
              <p>Email: <%= broker.email %></p>
              <p>First Name: <%= broker.first_name %></p>
              <p>Last Name: <%= broker.last_name %></p>
              <p>Number of stocks: <%= broker.stocks.count %></p>
              <p>Total Deals Brokered: <%= PurchaseTransaction.where(broker_id: broker).count %></p>
              <p>total Brokered amount: $3,000,000,000</p>
              <p>Rating: 100%</p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= broker.id %>">buy stock</button>
              <hr class="border border-3 colorgraph" style="margin-top: 10px;">


              <!-- Modal -->
              <div class="modal fade" id="staticBackdrop<%= broker.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel<%= broker.id %>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel<%= broker.id %>">Buy Stock</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= form_with url: add_stock_stocks_path, local: true do |form| %>
                        <div class="mb-3">                      
                          <%= form.number_field :quantity, class: "form-control" %>
                          <p>Current stock price: <%= @stock.latest_price %></p>
                          <!-- current_buyer -->
                          <%= form.hidden_field :price, :value => @stock.latest_price %>
                          <%= form.hidden_field :stock_symbol, :value => @stock.symbol.to_s %>
                          <%= form.hidden_field :broker_id, :value => broker.id %>
                          <%= form.hidden_field :broker_email, :value => broker.email %>
                          <%= form.hidden_field :broker_name, :value => broker.first_name + ' ' + broker.last_name %>
                          <%= form.hidden_field :stock_id, :value => broker.stocks.where(symbol: @stock.symbol.to_s).first.id %>
                          <%= form.hidden_field :company_name, :value => @stock.company_name %>
                          <%= form.submit class: "btn btn-danger" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
        <% end %> <!-- end of loop -->
      <% end %> <!--end of current buyer if condition -->
    </div>
  </div>
</div>
</div>