<% if broker_signed_in? && current_broker.approved? %>
  <%= render 'partials/broker_home_page' %>
<% elsif broker_signed_in? && !current_broker.approved? %>
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h1 class="text-center my-5 display-5">Waiting for Admin approval</h1>
        <%= image_tag("Work time-amico.png", class: "w-100") %>
      </div>
    </div>
<% end %>

<% if buyer_signed_in? %>
  <%= render 'partials/buyer_home_page' %>
<% end %>

<% if admin_signed_in? %>
  <div class="container">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with model: @new_user, url: create_user_home_index_path, local: true do |f| %>
              <% if @new_user.errors.any? %>
                <p>Meh, something went wrong.</p>
              <% end %>

              <div class="input-group mb-3">
                <%= f.label :email, class:"input-group-text" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :first_name, class:"input-group-text" %><br />
                <%= f.text_field :first_name, value: "", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :last_name, class:"input-group-text" %><br />
                <%= f.text_field :last_name, value: "", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :type %>
                <%= f.select :type, [ "Buyer", "Broker" ], {}, { :class => 'form-control' } %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :password, class:"input-group-text" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :password_confirmation, class:"input-group-text" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <br/>
              <div class="actions">
                <%= f.submit "Create User", class: "btn btn-danger btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container border border-0" style="margin-top: 10px;">
    <div class="row">
      <div class="col-md-10">
        <h1 class="text-left">Welcome <%= current_admin.first_name %>, what would you want to do today?</h1>
      </div>
      <div class="col-md-2 d-flex align-items-center justify-content-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Create new user
        </button>
      </div>
    </div>
    <hr class="border border-3 colorgraph" style="margin-top: 10px;">
    </div>

<div class="container-fluid" style="margin-bottom:10px;">
  <div class="row row-cols-auto justify-content-center align-items-center m-auto">
    <div class="col">
      <div class="card text-white bg-primary" style="max-width: 15rem;">
        <div class="card-header"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white text-center">Pending Approval(s):</h5>
            <h3 class="card-text text-center">
               <%= @pending_approval.count %>
            </h3>
          </div>
        </div>
      </div>
  
    <div class="col">   
      <div class="card text-white bg-secondary" style="max-width: 15rem;">
        <div class="card-header"><i class="fa fa-tasks" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white text-center">Total Transactions:</h5>
            <h3 class="card-text text-center">
               <%= @transactions.count %>
            </h3>
          </div>
        </div>
      </div>
  
    <div class="col">  
      <div class="card text-white bg-info" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white text-center">Buyer Count(s):</h5>
            <h3 class="card-text text-center">
               <%= @buyers.count %>
            </h3>
          </div>
        </div>
      </div>

    <div class="col">
      <div class="card text-white bg-warning" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white text-center">Broker Count(s):</h5>
            <h3 class="card-text text-center">
               <%= @brokers.count %>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<div class="container border border-0" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="row row-cols-auto m-auto">
    <div class="col col-6 align-items-center">
      <div class="card" style="max-width: 38rem;">
      <h1 class="text-center">Buyer List</h1>
      <hr class="colorgraph">
        <div class="card-body">
          <% @buyers.order(id: :desc).each do |buyer| %>
            <p>Buyer ID: <strong><%= link_to buyer.id, show_user_home_index_path(buyer) %></strong></p>
            <p>Registered Email: <strong><%= buyer.email %></strong></p>
            <p>First Name: <strong><%= buyer.first_name %></strong></p>
            <p>Last Name: <strong><%= buyer.last_name %></strong></p>
            <hr class="colorgraph">
          <% end %>
        </div>
      </div> <!-- card 1 end --> 
    </div> <!-- col 1 end -->
    <div class="col col-6 align-items-center">
      <div class="card" style="max-width: 38rem;">
      <h1 class="text-center">Broker List</h1>
      <hr class="colorgraph">
        <div class="card-body">
          <% @brokers.order(id: :desc).each do |broker| %>
            <p>Broker ID: <strong><%= link_to broker.id, show_user_home_index_path(broker) %></strong></p>
            <p>Registered Email: <strong><%= broker.email %></strong></p>
            <p>First Name: <strong><%= broker.first_name %></strong></p>
            <p>Last Name: <strong><%= broker.last_name %></strong></p>
            <% if broker.approved == false %>
              <p>Status: <span class="text-danger"><strong>Pending approval</strong></span></p>
              <%= link_to 'Accept', { :controller => "home",
                                      :action => "approve",
                                      :broker => broker,
                                      :approved => true }, method: 'patch', class:"btn btn-danger btn-block" %>
                                      <hr class="colorgraph"><br>
            <% else %>
              <p>Status: <span class="text-success"><strong>Approved</strong></span></p>
              <hr class="colorgraph">
            <% end %>
          <% end %>
        </div>
      </div><!-- card 2 end -->  
    </div> <!-- col 2 end -->
  </div> <!-- row end -->
  <% end %>
</div>

<% if !broker_signed_in? && !buyer_signed_in? && !admin_signed_in? %>
  <%= render 'partials/index' %>
<% end %>

