<% if broker_signed_in? && current_broker.approved? %>
  <h1 class="text-center"><%= current_broker.first_name %>'s Broker Dashboard</h1>
  <h2 class="text-center"><%= render 'partials/stock_ticker'%></h2>
<!-- 1st table transactions -->
<div class="container">
  <div class="card">
    <div class="card-header">Daily Transactions</div>
    <div class="card-body">
      <h5 class="card-title">Check Today's transactions</h5>
      <p class="card-text">
        Let's start earning you more money by going to your transactions.
        In the meantime, here's a quick view of your current transactions.
      </p>
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price per Stock</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">1</th>
      <td>Jaren</td>
      <td>Cudilla</td>
      <td>Apple</td>
      <td>1000</td>
      <td>14.83</td>
      <td>$14,830</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Rommel</td>
      <td>Torquator</td>
      <td>Apple</td>
      <td>1500</td>
      <td>14.83</td>
      <td>$22,245</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rommel</td>
      <td>Torquator</td>
      <td>Toyota</td>
      <td>1500</td>
      <td>22.64</td>
      <td>$33,960</td>
    </tr>
  </tbody>
</table>
    <%= link_to "View Detailed Transactions", transaction_home_index_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
<!-- end 1st table -->
<!-- 2nd table buyer list -->
<div class="container">
  <div class="card-group">
  <div class="card col-md-9" style="padding: 10px;">
    <div class="card-header">Trending</div>
    <div class="card-body">
      <h5 class="card-title">Current Stock Performance</h5>
      <p class="card-text">
        Daily Performance of your watched Stock and (if any) Buyers that have purchased the stock.
      </p>
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Market Cap</th>
      <th scope="col">Buyer</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Apple</th>
      <td>133.46</td>
      <td>133.89</td>
      <td>132.81</td>
      <td>2.22T</td>
      <td>Jaren, Rommel</td>
      <td>Buy / Sell</td>
    </tr>
    <tr>
      <th scope="row">NVIDIA</th>
      <td>771.22</td>
      <td>773.82</td>
      <td>755.78</td>
      <td>474.25B</td>
      <td> - </td>
      <td>Buy / Sell</td>
    </tr>
    <tr>
      <th scope="row">Asus</th>
      <td>375.00</td>
      <td>375.00</td>
      <td>367.00</td>
      <td>272.59B</td>
      <td> - </td>
      <td>Buy / Sell</td>
    </tr>
  </tbody>
      </table>
    <%= link_to "View Details", stocks_path, class:"btn btn-primary" %>
    </div>
</div>
<!-- end 2nd table -->
<!-- 3rd table movers and shakers -->
  <div class="card col-md-3" style="padding: 10px;">
    <div class="card-header">Gainers and Losers</div>
    <div class="card-body">
      <h5 class="card-title">Today's Movers and Shakers</h5>
      <p class="card-text">
        Top Gainers for the day, maybe it's time to sell.
      </p>
        <table class="table table-striped">
          <thead>
            <tr>
      <th scope="col">Today's Gainers</th>
      <th scope="col">Price</th>
      <th scope="col">24h Change</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Apple</th>
      <td>$15.83</td>
      <td>6.23%</td>
      <td>$1,623,345</td>
    </tr>
    <tr>
      <th scope="row">Asus</th>
      <td>22.83</td>
      <td>5.89%</td>
      <td>$34,510,282</td>
    </tr>
    <tr>
      <th scope="row">Nvidia</th>
      <td>29.64</td>
      <td>4.18%</td>
      <td>$4,654,129</td>
    </tr>
  </tbody>
</table>
    <%= link_to "View Details", stocks_path, class:"btn btn-primary" %>
    </div>
  </div>
  </div>
<!-- end 3rd table -->

<!-- start of 4th table portfolio-->
<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="card">
    <div class="card-header">Portfolio</div>
    <div class="card-body">
      <h5 class="card-title">Portfolio Quick view</h5>
      <p class="card-text">
        Portfolio Quick View is your top earning stocks.
      </p>
      <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Stock</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price per Stock</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">1</th>
      <td>Jaren</td>
      <td>Cudilla</td>
      <td>Apple</td>
      <td>1000</td>
      <td>14.83</td>
      <td>$14,830</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Rommel</td>
      <td>Torquator</td>
      <td>Apple</td>
      <td>1500</td>
      <td>14.83</td>
      <td>$22,245</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rommel</td>
      <td>Torquator</td>
      <td>Toyota</td>
      <td>1500</td>
      <td>22.64</td>
      <td>$33,960</td>
    </tr>
  </tbody>
</table>
    <%= link_to "View Details", portfolio_home_index_path, class:"btn btn-primary" %>
    </div>
    </div>
</div>
</div>
<!-- end of 4th table-->
<% end %>

<% if buyer_signed_in? %>
  <%= render 'partials/buyer_home_page' %>
<% end %>

<% if admin_signed_in? %>
  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create new user
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with model: @new_user, url: create_user_home_index_path, local: true do |f| %>
              <% if @new_user.errors.any? %>
                <p>Merong errors</p>
              <% end %>

              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, value: "", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, value: "", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :type %>
                <p><%= f.select :type, [ "Buyer", "Broker" ], class: "form-select" %></p>
              </div>

              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <br/>
              <div class="actions">
                <%= f.submit "Sign up", class: "btn btn-danger" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <h1><%= @hope %></h1>
    <br/>
    
<div class="container-fluid ">
  <div class="row row-cols-auto justify-content-center align-items-center">
    <div class="col">
      <div class="card text-white bg-primary" style="max-width: 15rem;">
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Pending Approval(s):</h5>
            <p class="card-text">
               <%= @pending_approval.count %>
            </p>
          </div>
        </div>
      </div>
  
    <div class="col">   
      <div class="card text-white bg-secondary" style="max-width: 15rem;">
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Total Transactions:</h5>
            <p class="card-text">
               <%= @transactions.count %>
            </p>
          </div>
        </div>
      </div>
  
    <div class="col">  
      <div class="card text-white bg-info" style="max-width: 15rem;">
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Buyer Count(s):</h5>
            <p class="card-text">
               <%= @buyers.count %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-white bg-warning" style="max-width: 15rem;">
        <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Broker Count(s):</h5>
            <p class="card-text">
               <%= @brokers.count %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

    <div class="row">
      <div class="col-md-6 bg-success">
        <h1>list of buyers</h1>
        <% @buyers.each do |buyer| %>
          <p><%= link_to buyer.id, show_user_home_index_path(buyer) %></p>
          <p><%= buyer.email %></p>
          <p><%= buyer.first_name %></p>
          <p><%= buyer.last_name %></p>
        <% end %>
      </div> <!-- col-md-6 -->
      <div class="col-md-6">
        <h1>list of brokers</h1>
        <% @brokers.each do |broker| %>
          <p>broker id: <%= link_to broker.id, show_user_home_index_path(broker) %></p>
          <p>email: <%= broker.email %></p>
          <p>first name: <%= broker.first_name %></p>
          <p>last name: <%= broker.last_name %></p>
          <% if broker.approved == false %>
            <h3>Status: Pending approval</h3>
            <%= link_to 'Accept', { :controller => "home",
                                    :action => "approve",
                                    :broker => broker,
                                    :approved => true }, method: 'patch' %>
          <% else %>
            <h3>Status: Approved</h3>
          <% end %>
        <% end %>
      </div>
    </div> <!-- row -->
  </div>
<% end %>

<% if !broker_signed_in? && !buyer_signed_in? && !admin_signed_in? %>
  <%= render 'partials/index' %>
<% end %>

