<% if broker_signed_in? && current_broker.approved? %>
  <%= render 'partials/broker_home_page' %>
<% end %>

<% if buyer_signed_in? %>
  <%= render 'partials/buyer_home_page' %>
<% end %>

<% if admin_signed_in? %>
  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Create new user
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create user</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= form_with model: @new_user, url: create_user_home_index_path, local: true do |f| %>
              <% if @new_user.errors.any? %>
                <p>Meh, something went wrong.</p>
              <% end %>

              <div class="input-group mb-3">
                <%= f.label :email, class:"input-group-text" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :first_name, class:"input-group-text" %><br />
                <%= f.text_field :first_name, value: "", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :last_name, class:"input-group-text" %><br />
                <%= f.text_field :last_name, value: "", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <p> <%= f.label :type %></p>
                <p> <%= f.select :type, [ "Buyer", "Broker" ], class: "form-select" %> </p>
              </div>

              <div class="input-group mb-3">
                <%= f.label :password, class:"input-group-text" %>
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
              </div>

              <div class="input-group mb-3">
                <%= f.label :password_confirmation, class:"input-group-text" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
              </div>

              <br/>
              <div class="actions">
                <%= f.submit "Create User", class: "btn btn-danger btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container border border-0" style="margin-top: 10px;">
    <h1 class="text-center">Welcome <%= current_admin.first_name %>, what would you want to do today?</h1>
    <hr class="border border-3 colorgraph" style="margin-top: 10px;">
    </div>

<div class="container-fluid" style="margin-bottom:10px;">
  <div class="row row-cols-auto justify-content-center align-items-center m-auto">
    <div class="col">
      <div class="card text-white bg-primary" style="max-width: 15rem;">
        <div class="card-header"><i class="fa fa-user-plus" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white">Pending Approval(s):</h5>
            <p class="card-text">
               <%= @pending_approval.count %>
            </p>
          </div>
        </div>
      </div>
  
    <div class="col">   
      <div class="card text-white bg-secondary" style="max-width: 15rem;">
        <div class="card-header"><i class="fa fa-tasks" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white">Total Transactions:</h5>
            <p class="card-text">
               <%= @transactions.count %>
            </p>
          </div>
        </div>
      </div>
  
    <div class="col">  
      <div class="card text-white bg-info" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white">Buyer Count(s):</h5>
            <p class="card-text">
               <%= @buyers.count %>
            </p>
          </div>
        </div>
      </div>

    <div class="col">
      <div class="card text-white bg-warning" style="max-width: 18rem;">
        <div class="card-header"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
          <div class="card-body">
            <h5 class="card-title text-white">Broker Count(s):</h5>
            <p class="card-text">
               <%= @brokers.count %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<div class="container border border-0" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="row row-cols-auto m-auto">
    <div class="col col-6 align-items-center">
      <div class="card" style="max-width: 38rem;">
      <h1 class="text-center">Buyer List</h1>
      <hr class="colorgraph"><br>
        <% @buyers.each do |buyer| %>
          <p style="margin-left: 5px;"> Buyer ID: <%= link_to buyer.id, show_user_home_index_path(buyer) %></p>
          <p style="margin-left: 10px;"> Registered Email: <%= buyer.email %></p>
          <p style="margin-left: 10px;"> First Name: <%= buyer.first_name %></p>
          <p style="margin-left: 10px;"> Last Name: <%= buyer.last_name %></p>
          <hr class="colorgraph"><br>
        <% end %>
      </div> <!-- card 1 end --> 
    </div> <!-- col 1 end -->
    <div class="col col-6 align-items-center">
      <div class="card" style="max-width: 38rem;">
      <h1 class="text-center">Broker List</h1>
      <hr class="colorgraph"><br>
        <% @brokers.each do |broker| %>
          <p style="margin-left: 5px;"> Broker ID: <%= link_to broker.id, show_user_home_index_path(broker) %></p>
          <p style="margin-left: 10px;"> Registered Email: <%= broker.email %></p>
          <p style="margin-left: 10px;"> First Name: <%= broker.first_name %></p>
          <p style="margin-left: 10px;"> Last Name: <%= broker.last_name %></p>
          <% if broker.approved == false %>
            <h3 style="margin-left: 5px;"> Status: Pending approval</h3>
            <%= link_to 'Accept', { :controller => "home",
                                    :action => "approve",
                                    :broker => broker,
                                    :approved => true }, method: 'patch', class:"btn btn-danger btn-block" %>
                                    <hr class="colorgraph"><br>
          <% else %>
            <h3>Status: Approved</h3>
            <hr class="colorgraph"><br>
          <% end %>
        <% end %>
      </div><!-- card 2 end -->  
    </div> <!-- col 2 end -->
  </div> <!-- row end -->
  <% end %>
</div>

<% if !broker_signed_in? && !buyer_signed_in? && !admin_signed_in? %>
  <%= render 'partials/index' %>
<% end %>

