<% if current_broker && current_broker.approved? %>
    <h1 class="text-center"><%= current_broker.first_name %>'s Portfolio</h1>
    <h2 class="text-center"><%= render 'partials/stock_ticker'%></h2>
  
		<% if current_broker.stocks.count > 0 %>
  		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="table">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">Name</th>
										<th scope="col">Symbol</th>
										<th scope="col">Latest Price</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
								<% current_broker.stocks.each do |stock| %>
									<tr>
										<td><%= stock.name %></td>
										<td><%= stock.symbol %></td>
										<td><%= stock.current_price %></td>
										<td><%= button_to "Remove stock", stock_path(stock), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
									</tr>
								<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		<% else %>
			<h1 class="text-center mt-5">No available stocks under the portfolio</h1>
			<p class="text-center"><%= link_to "Add stocks", stocks_path, class: "btn btn-success" %></p>
		<% end %>
<% end %>

<% if current_buyer %>
	<h1 class="text-center"><%= current_buyer.first_name %>'s Buyer Portfolio</h1>
    <h2 class="text-center"><%= render 'partials/stock_ticker'%></h2>

			<% if current_buyer.buyer_stocks.count > 0 %>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="table">
								<table class="table table-striped">
									<thead>
										<tr>
											<th scope="col">Symbol</th>
											<th scope="col">Broker email</th>
											<th scope="col">Bought stock price</th>
											<th scope="col">Quantity</th>
											<th scope="col">Total amount</th>
											<th scope="col"><strong>Current Stock Price</strong></th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>      
								<% current_buyer.buyer_stocks.each do |stock| %>
										<tr>
											<td><%= stock.stockSymbol %></td>
											<td><%= stock.broker_email %></td>
											<td><%= stock.price %></td>
											<td><%= stock.quantity %></td>
											<td><%= stock.quantity * stock.price %></td>

											<td><%= @client.quote(stock.stockSymbol).latest_price.to_f %></td>
											<td><%= button_to "sell stock", sell_buyer_stock_stocks_path(stock, price: @client.quote(stock.stockSymbol).latest_price.to_f), method: :delete, data: { confirm: 'Are you sure?' } %></td>
										</tr>
								<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			<% else %>
				<h1 class="text-center mt-5">No available stocks under the portfolio</h1>
				<p class="text-center"><%= link_to "Add stocks", stocks_path, class: "btn btn-success" %></p>
			<% end %>
<% end %>
