<div class="container bg-light" style="margin-top: 100px; width: 35vw">
  <div class="row">
		<div class="span4 offset4 well">
      <h1 class="text-center">User Details</h1>
      <hr class="border border-4 colorgraph" style="margin-top: 10px;">
        <p>First name: <%= @user.first_name %></p>
        <p>Last name: <%= @user.last_name %></p>
        <p>Email: <%= @user.email %></p>
        User type:
        <% if @user.type == 'Broker' %>
        <strong> Broker</strong>
        <% else %>
        <strong> Buyer</strong>
        <% end %>
        <br/>
        
      </div>
	  

<div class="container" style="margin-top: 10px; width: 30vw">
  <div class="wrapper">
<%= form_with model: @user, url: update_buyer_home_index_path, local: true do |f| %>
  <%= f.hidden_field :id, value: @user.id %>

  <div class="input-group mb-3">
    <%= f.label :email, class:"input-group-text" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email", class:"form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= f.label :first_name, class:"input-group-text" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", class:"form-control" %>
  </div>
  
  <div class="input-group mb-3">
    <%= f.label :last_name, class:"input-group-text" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update user", class:"btn btn-secondary btn-lg btn-block" %>
  </div>
<% end %>
<br/>
  </div>
</div>
</div>

</div>
