<h1>User show page</h1>
<p>first name: <%= @user.first_name %></p>
<p>last name: <%= @user.last_name %></p>
<p>email: <%= @user.email %></p>
User type:
<% if @user.type == 'Broker' %>
  <strong>Broker</strong>
<% else %>
  <strong>Buyer</strong>
<% end %>
<br/>

<%= form_with model: @user, url: update_buyer_home_index_path, local: true do |f| %>
  <%= f.hidden_field :id, value: @user.id %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Update user" %>
  </div>
<% end %>
