<% if current_admin %>
  <h1 class="text-center" style="margin-top: 10px;">Overall Transactions</h1>
  <hr class="border border-3 colorgraph" style="margin-top: 10px;">
  <section class="ftco-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">											
          <div class="table">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Buyer</th>
                  <th>Symbol</th>
                  <th>Company Name</th>
                  <th>Current Price</th>
                  <th>Total Stock purchased</th>
                  <th>Total Amount</th>
                  <th>Broker</th>
                </tr>
              </thead>
              <tbody>
                <% PurchaseTransaction.all.each do |transaction| %>
                  <tr>
                    <td><%= transaction.user.first_name + " " + transaction.user.last_name %></td>
                    <td><%= transaction.stock_code %></td>
                    <td><%= transaction.company_name %></td>
                    <td><%= transaction.price %></td>
                    <td><%= transaction.volume %></td>
                    <td><%= transaction.volume * transaction.price %></td>
                    <td><%= transaction.broker.first_name + " " + transaction.broker.last_name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
				</div>
			</div>
		</div>
	</section>
<% else %>
  <h1 class="text-center" style="margin-top: 10px;">Transactions</h1>
  <hr class="border border-3 colorgraph" style="margin-top: 10px;">
  <br/>
<% end%>

<!-- for broker -->
<% if current_broker && current_broker.approved? %>
  
  <%= render 'partials/transaction_table_broker'%>
  <br/>
<% end %>

<!-- for buyer -->
<% if current_buyer %>
   
  <%= render 'partials/transaction_table_buyers'%>
  <br/>
<% end %>